.root {
    display: flex;
}

.appbar {
    width : calc(100% - 240px);
}

.active {
    background: #f4f4f4;
}

.margin {
    height: 100px;
}

.textTitle {
    padding-left: 250px;
}

.title {
    padding : 10px;
}

.page {
    background : #f9f9f9;
    width : 100%;
}

.drawer {
    width : 240px;
}

.drawerPaper {
    width : 240px;
}